{
  "swagger": "2.0",
  "info": {
    "description": "用户中心服务器端API文档(v3.1.0)",
    "version": "3.1.0",
    "title": "用户中心API文档",
    "termsOfService": "http://swagger.io/terms",
    "contact": {
      "name": "API Support",
      "url": "http://www.digitalsee.cn/support",
      "email": "ROOTTeam@digitalsee.cn"
    },
    "license": {
      "name": "Apache License Version 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0"
    }
  },
  "host": "192-168-50-17-75uievyndse8.ztna.dingtalk.com",
  "basePath": "/",
  "tags": [
    {
      "name": "AppCategory",
      "description": "App category 管理配置"
    },
    {
      "name": "Application",
      "description": "Application 管理配置"
    },
    {
      "name": "Application Role",
      "description": "应用权限角色管理配置"
    },
    {
      "name": "Application Role Assignment",
      "description": "应用角色分配管理"
    },
    {
      "name": "Audit",
      "description": "同步钉钉审计日志信息"
    },
    {
      "name": "Auditlog",
      "description": "审计日志"
    },
    {
      "name": "Auth Factor",
      "description": "认证因子管理配置"
    },
    {
      "name": "CAS",
      "description": "Cas Authorization Endpoint"
    },
    {
      "name": "Configs",
      "description": "系统配置"
    },
    {
      "name": "ConnectDing",
      "description": "钉钉连接器API"
    },
    {
      "name": "Connector",
      "description": "链接器相关"
    },
    {
      "name": "Data Push",
      "description": "数据推送"
    },
    {
      "name": "DeviceCode",
      "description": "扫码登录"
    },
    {
      "name": "Email",
      "description": "邮件配置"
    },
    {
      "name": "Gateway Application",
      "description": "网关Application 管理配置"
    },
    {
      "name": "INNER",
      "description": "Inner Api"
    },
    {
      "name": "Inner Api",
      "description": "日志收集服务"
    },
    {
      "name": "InnerAppApi",
      "description": "IAM对外不需要鉴权的服务接口"
    },
    {
      "name": "Links",
      "description": "连接器相关"
    },
    {
      "name": "Login",
      "description": "登录相关API"
    },
    {
      "name": "Login Policy",
      "description": "登录策略管理配置"
    },
    {
      "name": "Media",
      "description": "媒体文件管理接口"
    },
    {
      "name": "Message",
      "description": "内部消息管理接口"
    },
    {
      "name": "NCM Redirect Api",
      "description": "转发NCM消息接口的API"
    },
    {
      "name": "OpenApi",
      "description": "IAM对外不需要鉴权的服务接口"
    },
    {
      "name": "Org attribute schema",
      "description": "组织结构属性定义"
    },
    {
      "name": "Organization",
      "description": "组织结构管理"
    },
    {
      "name": "Other Protocol Auth",
      "description": "Other Authorization Endpoint"
    },
    {
      "name": "SAML2",
      "description": "Saml 2 Authorization Endpoint"
    },
    {
      "name": "SCIM API",
      "description": "SCIM相关"
    },
    {
      "name": "SSO",
      "description": "UC SSO"
    },
    {
      "name": "System info",
      "description": "Sys Controller"
    },
    {
      "name": "Templates",
      "description": "消息模版"
    },
    {
      "name": "Tenant",
      "description": "Iam Tenant Controller"
    },
    {
      "name": "ThirdParty Application",
      "description": "第三方Application 管理"
    },
    {
      "name": "Tools",
      "description": "相关工具接口"
    },
    {
      "name": "User",
      "description": "用户管理"
    },
    {
      "name": "User Certificate",
      "description": "用户证书管理"
    },
    {
      "name": "User Conversation",
      "description": "标签群聊管理配置"
    },
    {
      "name": "User Profiles",
      "description": "用户画像配置管理"
    },
    {
      "name": "User Tag",
      "description": "用户标签管理配置"
    },
    {
      "name": "User attribute schema",
      "description": "用户属性定义"
    },
    {
      "name": "UserSelf",
      "description": "用户自服务API"
    },
    {
      "name": "aksk-filter-ex-controller",
      "description": "AKSK Filter Ex Controller"
    },
    {
      "name": "data pull",
      "description": "数据拉取"
    },
    {
      "name": "etl-controller",
      "description": "Etl Controller"
    },
    {
      "name": "health-check-controller",
      "description": "Health Check Controller"
    },
    {
      "name": "jwk-set-publishing-endpoint",
      "description": "JWK Set Publishing Endpoint"
    },
    {
      "name": "ldapserver",
      "description": "ldapserver数据接口"
    },
    {
      "name": "notify-controller",
      "description": "Notify Controller"
    },
    {
      "name": "positions",
      "description": "职位管理配置"
    },
    {
      "name": "saml-endpoint",
      "description": "SAML Endpoint"
    },
    {
      "name": "scim-endpoint",
      "description": "SCIM Endpoint"
    },
    {
      "name": "third-party-account-controller",
      "description": "Third Party Account Controller"
    },
    {
      "name": "third-party-call-back-event-controller",
      "description": "Third Party Call Back Event Controller"
    },
    {
      "name": "we-work-controller",
      "description": "We Work Controller"
    }
  ],
  "paths": {
    "/filter/error/aksk": {
      "get": {
        "tags": ["aksk-filter-ex-controller"],
        "summary": "throwException",
        "operationId": "throwExceptionUsingGET",
        "produces": ["*/*"],
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "错误码: 1010001, 错误消息: Internal server error",
            "schema": {
              "originalRef": "error_response",
              "$ref": "#/definitions/error_response"
            }
          }
        },
        "security": [
          {
            "uc_auth": [
              "create:organizations",
              "update:organizations",
              "read:organizations",
              "search:organizations",
              "no_scope_search:organizations",
              "delete:organizations",
              "create:users",
              "read:user_full_info",
              "search:users",
              "no_scope_search:users",
              "update:users",
              "delete:users",
              "move_org:users",
              "export:users",
              "import:users",
              "update:users_pwd_by_admin",
              "create:user_attrs",
              "read:user_attr_all",
              "read:user_attrs",
              "update:user_attrs",
              "read:tokens",
              "delete:tokens",
              "create:reset_pwd_tokens",
              "create:email_tokens",
              "read:self_info",
              "read:self_application",
              "update:self_info",
              "delete:self_auth",
              "send_email_to_verify:self_info",
              "logout:self",
              "verify_mobile_code:self_info",
              "send_verify_mobile_code:self_info",
              "update:policies_configs",
              "read:email_configs",
              "update:email_configs",
              "read:idp_pre_import_config",
              "read:idp_pre_import_config_tips",
              "update:idp_pre_import_config",
              "read:sms_configs",
              "update:sms_configs",
              "create:datasource_configs",
              "update:datasource_configs",
              "read:datasource_configs",
              "delete:datasource_configs",
              "sync:datasource",
              "test:datasource_configs",
              "read:csv_import_status",
              "send:email",
              "create:apps",
              "search:apps",
              "read:apps",
              "update:apps",
              "delete:apps",
              "update:user_apps",
              "update:org_apps",
              "list:user_apps",
              "list:org_apps",
              "update:tag_apps",
              "list:tag_apps",
              "update:apps_public_access",
              "create:tags",
              "search:tags",
              "read:tags",
              "update:tags",
              "delete:tags",
              "read:templates",
              "update:templates",
              "search:auditlog",
              "create:permissions",
              "search:permissions",
              "read:permissions",
              "update:permissions",
              "delete:permissions",
              "create:permission_sets",
              "search:permission_sets",
              "read:permission_sets",
              "update:permission_sets",
              "delete:permission_sets",
              "create:roles",
              "search:roles",
              "read:roles",
              "update:roles",
              "delete:roles",
              "update:user_roles",
              "update:org_roles",
              "list:org_roles",
              "list:user_roles",
              "update:tag_roles",
              "list:tag_roles",
              "create:profiles",
              "read:profiles",
              "search:profiles",
              "update:profiles",
              "delete:profiles"
            ]
          }
        ],
        "deprecated": false
      },
      "head": {
        "tags": ["aksk-filter-ex-controller"],
        "summary": "throwException",
        "operationId": "throwExceptionUsingHEAD",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "uc_auth": [
              "create:organizations",
              "update:organizations",
              "read:organizations",
              "search:organizations",
              "no_scope_search:organizations",
              "delete:organizations",
              "create:users",
              "read:user_full_info",
              "search:users",
              "no_scope_search:users",
              "update:users",
              "delete:users",
              "move_org:users",
              "export:users",
              "import:users",
              "update:users_pwd_by_admin",
              "create:user_attrs",
              "read:user_attr_all",
              "read:user_attrs",
              "update:user_attrs",
              "read:tokens",
              "delete:tokens",
              "create:reset_pwd_tokens",
              "create:email_tokens",
              "read:self_info",
              "read:self_application",
              "update:self_info",
              "delete:self_auth",
              "send_email_to_verify:self_info",
              "logout:self",
              "verify_mobile_code:self_info",
              "send_verify_mobile_code:self_info",
              "update:policies_configs",
              "read:email_configs",
              "update:email_configs",
              "read:idp_pre_import_config",
              "read:idp_pre_import_config_tips",
              "update:idp_pre_import_config",
              "read:sms_configs",
              "update:sms_configs",
              "create:datasource_configs",
              "update:datasource_configs",
              "read:datasource_configs",
              "delete:datasource_configs",
              "sync:datasource",
              "test:datasource_configs",
              "read:csv_import_status",
              "send:email",
              "create:apps",
              "search:apps",
              "read:apps",
              "update:apps",
              "delete:apps",
              "update:user_apps",
              "update:org_apps",
              "list:user_apps",
              "list:org_apps",
              "update:tag_apps",
              "list:tag_apps",
              "update:apps_public_access",
              "create:tags",
              "search:tags",
              "read:tags",
              "update:tags",
              "delete:tags",
              "read:templates",
              "update:templates",
              "search:auditlog",
              "create:permissions",
              "search:permissions",
              "read:permissions",
              "update:permissions",
              "delete:permissions",
              "create:permission_sets",
              "search:permission_sets",
              "read:permission_sets",
              "update:permission_sets",
              "delete:permission_sets",
              "create:roles",
              "search:roles",
              "read:roles",
              "update:roles",
              "delete:roles",
              "update:user_roles",
              "update:org_roles",
              "list:org_roles",
              "list:user_roles",
              "update:tag_roles",
              "list:tag_roles",
              "create:profiles",
              "read:profiles",
              "search:profiles",
              "update:profiles",
              "delete:profiles"
            ]
          }
        ],
        "deprecated": false
      },
      "post": {
        "tags": ["aksk-filter-ex-controller"],
        "summary": "throwException",
        "operationId": "throwExceptionUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "错误码: 1010001, 错误消息: Internal server error",
            "schema": {
              "originalRef": "error_response",
              "$ref": "#/definitions/error_response"
            }
          }
        },
        "security": [
          {
            "uc_auth": [
              "create:organizations",
              "update:organizations",
              "read:organizations",
              "search:organizations",
              "no_scope_search:organizations",
              "delete:organizations",
              "create:users",
              "read:user_full_info",
              "search:users",
              "no_scope_search:users",
              "update:users",
              "delete:users",
              "move_org:users",
              "export:users",
              "import:users",
              "update:users_pwd_by_admin",
              "create:user_attrs",
              "read:user_attr_all",
              "read:user_attrs",
              "update:user_attrs",
              "read:tokens",
              "delete:tokens",
              "create:reset_pwd_tokens",
              "create:email_tokens",
              "read:self_info",
              "read:self_application",
              "update:self_info",
              "delete:self_auth",
              "send_email_to_verify:self_info",
              "logout:self",
              "verify_mobile_code:self_info",
              "send_verify_mobile_code:self_info",
              "update:policies_configs",
              "read:email_configs",
              "update:email_configs",
              "read:idp_pre_import_config",
              "read:idp_pre_import_config_tips",
              "update:idp_pre_import_config",
              "read:sms_configs",
              "update:sms_configs",
              "create:datasource_configs",
              "update:datasource_configs",
              "read:datasource_configs",
              "delete:datasource_configs",
              "sync:datasource",
              "test:datasource_configs",
              "read:csv_import_status",
              "send:email",
              "create:apps",
              "search:apps",
              "read:apps",
              "update:apps",
              "delete:apps",
              "update:user_apps",
              "update:org_apps",
              "list:user_apps",
              "list:org_apps",
              "update:tag_apps",
              "list:tag_apps",
              "update:apps_public_access",
              "create:tags",
              "search:tags",
              "read:tags",
              "update:tags",
              "delete:tags",
              "read:templates",
              "update:templates",
              "search:auditlog",
              "create:permissions",
              "search:permissions",
              "read:permissions",
              "update:permissions",
              "delete:permissions",
              "create:permission_sets",
              "search:permission_sets",
              "read:permission_sets",
              "update:permission_sets",
              "delete:permission_sets",
              "create:roles",
              "search:roles",
              "read:roles",
              "update:roles",
              "delete:roles",
              "update:user_roles",
              "update:org_roles",
              "list:org_roles",
              "list:user_roles",
              "update:tag_roles",
              "list:tag_roles",
              "create:profiles",
              "read:profiles",
              "search:profiles",
              "update:profiles",
              "delete:profiles"
            ]
          }
        ],
        "deprecated": false
      },
      "put": {
        "tags": ["aksk-filter-ex-controller"],
        "summary": "throwException",
        "operationId": "throwExceptionUsingPUT",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "错误码: 1010001, 错误消息: Internal server error",
            "schema": {
              "originalRef": "error_response",
              "$ref": "#/definitions/error_response"
            }
          }
        },
        "security": [
          {
            "uc_auth": [
              "create:organizations",
              "update:organizations",
              "read:organizations",
              "search:organizations",
              "no_scope_search:organizations",
              "delete:organizations",
              "create:users",
              "read:user_full_info",
              "search:users",
              "no_scope_search:users",
              "update:users",
              "delete:users",
              "move_org:users",
              "export:users",
              "import:users",
              "update:users_pwd_by_admin",
              "create:user_attrs",
              "read:user_attr_all",
              "read:user_attrs",
              "update:user_attrs",
              "read:tokens",
              "delete:tokens",
              "create:reset_pwd_tokens",
              "create:email_tokens",
              "read:self_info",
              "read:self_application",
              "update:self_info",
              "delete:self_auth",
              "send_email_to_verify:self_info",
              "logout:self",
              "verify_mobile_code:self_info",
              "send_verify_mobile_code:self_info",
              "update:policies_configs",
              "read:email_configs",
              "update:email_configs",
              "read:idp_pre_import_config",
              "read:idp_pre_import_config_tips",
              "update:idp_pre_import_config",
              "read:sms_configs",
              "update:sms_configs",
              "create:datasource_configs",
              "update:datasource_configs",
              "read:datasource_configs",
              "delete:datasource_configs",
              "sync:datasource",
              "test:datasource_configs",
              "read:csv_import_status",
              "send:email",
              "create:apps",
              "search:apps",
              "read:apps",
              "update:apps",
              "delete:apps",
              "update:user_apps",
              "update:org_apps",
              "list:user_apps",
              "list:org_apps",
              "update:tag_apps",
              "list:tag_apps",
              "update:apps_public_access",
              "create:tags",
              "search:tags",
              "read:tags",
              "update:tags",
              "delete:tags",
              "read:templates",
              "update:templates",
              "search:auditlog",
              "create:permissions",
              "search:permissions",
              "read:permissions",
              "update:permissions",
              "delete:permissions",
              "create:permission_sets",
              "search:permission_sets",
              "read:permission_sets",
              "update:permission_sets",
              "delete:permission_sets",
              "create:roles",
              "search:roles",
              "read:roles",
              "update:roles",
              "delete:roles",
              "update:user_roles",
              "update:org_roles",
              "list:org_roles",
              "list:user_roles",
              "update:tag_roles",
              "list:tag_roles",
              "create:profiles",
              "read:profiles",
              "search:profiles",
              "update:profiles",
              "delete:profiles"
            ]
          }
        ],
        "deprecated": false
      },
      "delete": {
        "tags": ["aksk-filter-ex-controller"],
        "summary": "throwException",
        "operationId": "throwExceptionUsingDELETE",
        "produces": ["*/*"],
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "错误码: 1010001, 错误消息: Internal server error",
            "schema": {
              "originalRef": "error_response",
              "$ref": "#/definitions/error_response"
            }
          }
        },
        "security": [
          {
            "uc_auth": [
              "create:organizations",
              "update:organizations",
              "read:organizations",
              "search:organizations",
              "no_scope_search:organizations",
              "delete:organizations",
              "create:users",
              "read:user_full_info",
              "search:users",
              "no_scope_search:users",
              "update:users",
              "delete:users",
              "move_org:users",
              "export:users",
              "import:users",
              "update:users_pwd_by_admin",
              "create:user_attrs",
              "read:user_attr_all",
              "read:user_attrs",
              "update:user_attrs",
              "read:tokens",
              "delete:tokens",
              "create:reset_pwd_tokens",
              "create:email_tokens",
              "read:self_info",
              "read:self_application",
              "update:self_info",
              "delete:self_auth",
              "send_email_to_verify:self_info",
              "logout:self",
              "verify_mobile_code:self_info",
              "send_verify_mobile_code:self_info",
              "update:policies_configs",
              "read:email_configs",
              "update:email_configs",
              "read:idp_pre_import_config",
              "read:idp_pre_import_config_tips",
              "update:idp_pre_import_config",
              "read:sms_configs",
              "update:sms_configs",
              "create:datasource_configs",
              "update:datasource_configs",
              "read:datasource_configs",
              "delete:datasource_configs",
              "sync:datasource",
              "test:datasource_configs",
              "read:csv_import_status",
              "send:email",
              "create:apps",
              "search:apps",
              "read:apps",
              "update:apps",
              "delete:apps",
              "update:user_apps",
              "update:org_apps",
              "list:user_apps",
              "list:org_apps",
              "update:tag_apps",
              "list:tag_apps",
              "update:apps_public_access",
              "create:tags",
              "search:tags",
              "read:tags",
              "update:tags",
              "delete:tags",
              "read:templates",
              "update:templates",
              "search:auditlog",
              "create:permissions",
              "search:permissions",
              "read:permissions",
              "update:permissions",
              "delete:permissions",
              "create:permission_sets",
              "search:permission_sets",
              "read:permission_sets",
              "update:permission_sets",
              "delete:permission_sets",
              "create:roles",
              "search:roles",
              "read:roles",
              "update:roles",
              "delete:roles",
              "update:user_roles",
              "update:org_roles",
              "list:org_roles",
              "list:user_roles",
              "update:tag_roles",
              "list:tag_roles",
              "create:profiles",
              "read:profiles",
              "search:profiles",
              "update:profiles",
              "delete:profiles"
            ]
          }
        ],
        "deprecated": false
      },
      "options": {
        "tags": ["aksk-filter-ex-controller"],
        "summary": "throwException",
        "operationId": "throwExceptionUsingOPTIONS",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "uc_auth": [
              "create:organizations",
              "update:organizations",
              "read:organizations",
              "search:organizations",
              "no_scope_search:organizations",
              "delete:organizations",
              "create:users",
              "read:user_full_info",
              "search:users",
              "no_scope_search:users",
              "update:users",
              "delete:users",
              "move_org:users",
              "export:users",
              "import:users",
              "update:users_pwd_by_admin",
              "create:user_attrs",
              "read:user_attr_all",
              "read:user_attrs",
              "update:user_attrs",
              "read:tokens",
              "delete:tokens",
              "create:reset_pwd_tokens",
              "create:email_tokens",
              "read:self_info",
              "read:self_application",
              "update:self_info",
              "delete:self_auth",
              "send_email_to_verify:self_info",
              "logout:self",
              "verify_mobile_code:self_info",
              "send_verify_mobile_code:self_info",
              "update:policies_configs",
              "read:email_configs",
              "update:email_configs",
              "read:idp_pre_import_config",
              "read:idp_pre_import_config_tips",
              "update:idp_pre_import_config",
              "read:sms_configs",
              "update:sms_configs",
              "create:datasource_configs",
              "update:datasource_configs",
              "read:datasource_configs",
              "delete:datasource_configs",
              "sync:datasource",
              "test:datasource_configs",
              "read:csv_import_status",
              "send:email",
              "create:apps",
              "search:apps",
              "read:apps",
              "update:apps",
              "delete:apps",
              "update:user_apps",
              "update:org_apps",
              "list:user_apps",
              "list:org_apps",
              "update:tag_apps",
              "list:tag_apps",
              "update:apps_public_access",
              "create:tags",
              "search:tags",
              "read:tags",
              "update:tags",
              "delete:tags",
              "read:templates",
              "update:templates",
              "search:auditlog",
              "create:permissions",
              "search:permissions",
              "read:permissions",
              "update:permissions",
              "delete:permissions",
              "create:permission_sets",
              "search:permission_sets",
              "read:permission_sets",
              "update:permission_sets",
              "delete:permission_sets",
              "create:roles",
              "search:roles",
              "read:roles",
              "update:roles",
              "delete:roles",
              "update:user_roles",
              "update:org_roles",
              "list:org_roles",
              "list:user_roles",
              "update:tag_roles",
              "list:tag_roles",
              "create:profiles",
              "read:profiles",
              "search:profiles",
              "update:profiles",
              "delete:profiles"
            ]
          }
        ],
        "deprecated": false
      },
      "patch": {
        "tags": ["aksk-filter-ex-controller"],
        "summary": "throwException",
        "operationId": "throwExceptionUsingPATCH",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "错误码: 1010001, 错误消息: Internal server error",
            "schema": {
              "originalRef": "error_response",
              "$ref": "#/definitions/error_response"
            }
          }
        },
        "security": [
          {
            "uc_auth": [
              "create:organizations",
              "update:organizations",
              "read:organizations",
              "search:organizations",
              "no_scope_search:organizations",
              "delete:organizations",
              "create:users",
              "read:user_full_info",
              "search:users",
              "no_scope_search:users",
              "update:users",
              "delete:users",
              "move_org:users",
              "export:users",
              "import:users",
              "update:users_pwd_by_admin",
              "create:user_attrs",
              "read:user_attr_all",
              "read:user_attrs",
              "update:user_attrs",
              "read:tokens",
              "delete:tokens",
              "create:reset_pwd_tokens",
              "create:email_tokens",
              "read:self_info",
              "read:self_application",
              "update:self_info",
              "delete:self_auth",
              "send_email_to_verify:self_info",
              "logout:self",
              "verify_mobile_code:self_info",
              "send_verify_mobile_code:self_info",
              "update:policies_configs",
              "read:email_configs",
              "update:email_configs",
              "read:idp_pre_import_config",
              "read:idp_pre_import_config_tips",
              "update:idp_pre_import_config",
              "read:sms_configs",
              "update:sms_configs",
              "create:datasource_configs",
              "update:datasource_configs",
              "read:datasource_configs",
              "delete:datasource_configs",
              "sync:datasource",
              "test:datasource_configs",
              "read:csv_import_status",
              "send:email",
              "create:apps",
              "search:apps",
              "read:apps",
              "update:apps",
              "delete:apps",
              "update:user_apps",
              "update:org_apps",
              "list:user_apps",
              "list:org_apps",
              "update:tag_apps",
              "list:tag_apps",
              "update:apps_public_access",
              "create:tags",
              "search:tags",
              "read:tags",
              "update:tags",
              "delete:tags",
              "read:templates",
              "update:templates",
              "search:auditlog",
              "create:permissions",
              "search:permissions",
              "read:permissions",
              "update:permissions",
              "delete:permissions",
              "create:permission_sets",
              "search:permission_sets",
              "read:permission_sets",
              "update:permission_sets",
              "delete:permission_sets",
              "create:roles",
              "search:roles",
              "read:roles",
              "update:roles",
              "delete:roles",
              "update:user_roles",
              "update:org_roles",
              "list:org_roles",
              "list:user_roles",
              "update:tag_roles",
              "list:tag_roles",
              "create:profiles",
              "read:profiles",
              "search:profiles",
              "update:profiles",
              "delete:profiles"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/iam/api/actions": {
      "get": {
        "tags": ["Links"],
        "summary": "查询执行动作列表",
        "description": "查询执行动作列表",
        "operationId": "queryActionsUsingGET",
        "produces": ["application/json;charset=UTF-8", "application/json"],
        "parameters": [
          {
            "name": "linkId",
            "in": "query",
            "description": "linkId",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "page",
            "in": "query",
            "description": "page",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "size",
            "in": "query",
            "description": "size",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "originalRef": "base_error_response",
              "$ref": "#/definitions/base_error_response"
            }
          },
          "500": {
            "description": "错误码: 1010001, 错误消息: Internal server error",
            "schema": {
              "originalRef": "error_response",
              "$ref": "#/definitions/error_response"
            }
          }
        },
        "security": [
          {
            "uc_auth": [
              "create:organizations",
              "update:organizations",
              "read:organizations",
              "search:organizations",
              "no_scope_search:organizations",
              "delete:organizations",
              "create:users",
              "read:user_full_info",
              "search:users",
              "no_scope_search:users",
              "update:users",
              "delete:users",
              "move_org:users",
              "export:users",
              "import:users",
              "update:users_pwd_by_admin",
              "create:user_attrs",
              "read:user_attr_all",
              "read:user_attrs",
              "update:user_attrs",
              "read:tokens",
              "delete:tokens",
              "create:reset_pwd_tokens",
              "create:email_tokens",
              "read:self_info",
              "read:self_application",
              "update:self_info",
              "delete:self_auth",
              "send_email_to_verify:self_info",
              "logout:self",
              "verify_mobile_code:self_info",
              "send_verify_mobile_code:self_info",
              "update:policies_configs",
              "read:email_configs",
              "update:email_configs",
              "read:idp_pre_import_config",
              "read:idp_pre_import_config_tips",
              "update:idp_pre_import_config",
              "read:sms_configs",
              "update:sms_configs",
              "create:datasource_configs",
              "update:datasource_configs",
              "read:datasource_configs",
              "delete:datasource_configs",
              "sync:datasource",
              "test:datasource_configs",
              "read:csv_import_status",
              "send:email",
              "create:apps",
              "search:apps",
              "read:apps",
              "update:apps",
              "delete:apps",
              "update:user_apps",
              "update:org_apps",
              "list:user_apps",
              "list:org_apps",
              "update:tag_apps",
              "list:tag_apps",
              "update:apps_public_access",
              "create:tags",
              "search:tags",
              "read:tags",
              "update:tags",
              "delete:tags",
              "read:templates",
              "update:templates",
              "search:auditlog",
              "create:permissions",
              "search:permissions",
              "read:permissions",
              "update:permissions",
              "delete:permissions",
              "create:permission_sets",
              "search:permission_sets",
              "read:permission_sets",
              "update:permission_sets",
              "delete:permission_sets",
              "create:roles",
              "search:roles",
              "read:roles",
              "update:roles",
              "delete:roles",
              "update:user_roles",
              "update:org_roles",
              "list:org_roles",
              "list:user_roles",
              "update:tag_roles",
              "list:tag_roles",
              "create:profiles",
              "read:profiles",
              "search:profiles",
              "update:profiles",
              "delete:profiles"
            ]
          }
        ],
        "deprecated": false
      },
      "post": {
        "tags": ["Links"],
        "summary": "创建执行动作",
        "description": "创建执行动作",
        "operationId": "createActionUsingPOST",
        "consumes": ["application/json"],
        "produces": ["application/json;charset=UTF-8", "application/json"],
        "parameters": [
          {
            "in": "body",
            "name": "actionDto",
            "description": "actionDto",
            "required": true,
            "schema": {
              "originalRef": "ActionDto",
              "$ref": "#/definitions/ActionDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "originalRef": "base_error_response",
              "$ref": "#/definitions/base_error_response"
            }
          },
          "500": {
            "description": "错误码: 1010001, 错误消息: Internal server error",
            "schema": {
              "originalRef": "error_response",
              "$ref": "#/definitions/error_response"
            }
          }
        },
        "security": [
          {
            "uc_auth": [
              "create:organizations",
              "update:organizations",
              "read:organizations",
              "search:organizations",
              "no_scope_search:organizations",
              "delete:organizations",
              "create:users",
              "read:user_full_info",
              "search:users",
              "no_scope_search:users",
              "update:users",
              "delete:users",
              "move_org:users",
              "export:users",
              "import:users",
              "update:users_pwd_by_admin",
              "create:user_attrs",
              "read:user_attr_all",
              "read:user_attrs",
              "update:user_attrs",
              "read:tokens",
              "delete:tokens",
              "create:reset_pwd_tokens",
              "create:email_tokens",
              "read:self_info",
              "read:self_application",
              "update:self_info",
              "delete:self_auth",
              "send_email_to_verify:self_info",
              "logout:self",
              "verify_mobile_code:self_info",
              "send_verify_mobile_code:self_info",
              "update:policies_configs",
              "read:email_configs",
              "update:email_configs",
              "read:idp_pre_import_config",
              "read:idp_pre_import_config_tips",
              "update:idp_pre_import_config",
              "read:sms_configs",
              "update:sms_configs",
              "create:datasource_configs",
              "update:datasource_configs",
              "read:datasource_configs",
              "delete:datasource_configs",
              "sync:datasource",
              "test:datasource_configs",
              "read:csv_import_status",
              "send:email",
              "create:apps",
              "search:apps",
              "read:apps",
              "update:apps",
              "delete:apps",
              "update:user_apps",
              "update:org_apps",
              "list:user_apps",
              "list:org_apps",
              "update:tag_apps",
              "list:tag_apps",
              "update:apps_public_access",
              "create:tags",
              "search:tags",
              "read:tags",
              "update:tags",
              "delete:tags",
              "read:templates",
              "update:templates",
              "search:auditlog",
              "create:permissions",
              "search:permissions",
              "read:permissions",
              "update:permissions",
              "delete:permissions",
              "create:permission_sets",
              "search:permission_sets",
              "read:permission_sets",
              "update:permission_sets",
              "delete:permission_sets",
              "create:roles",
              "search:roles",
              "read:roles",
              "update:roles",
              "delete:roles",
              "update:user_roles",
              "update:org_roles",
              "list:org_roles",
              "list:user_roles",
              "update:tag_roles",
              "list:tag_roles",
              "create:profiles",
              "read:profiles",
              "search:profiles",
              "update:profiles",
              "delete:profiles"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/iam/api/actions/{id}": {
      "get": {
        "tags": ["Links"],
        "summary": "获取执行动作详情",
        "description": "获取执行动作详情",
        "operationId": "getActionUsingGET",
        "produces": ["application/json;charset=UTF-8", "application/json"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "originalRef": "base_error_response",
              "$ref": "#/definitions/base_error_response"
            }
          },
          "500": {
            "description": "错误码: 1010001, 错误消息: Internal server error",
            "schema": {
              "originalRef": "error_response",
              "$ref": "#/definitions/error_response"
            }
          }
        },
        "security": [
          {
            "uc_auth": [
              "create:organizations",
              "update:organizations",
              "read:organizations",
              "search:organizations",
              "no_scope_search:organizations",
              "delete:organizations",
              "create:users",
              "read:user_full_info",
              "search:users",
              "no_scope_search:users",
              "update:users",
              "delete:users",
              "move_org:users",
              "export:users",
              "import:users",
              "update:users_pwd_by_admin",
              "create:user_attrs",
              "read:user_attr_all",
              "read:user_attrs",
              "update:user_attrs",
              "read:tokens",
              "delete:tokens",
              "create:reset_pwd_tokens",
              "create:email_tokens",
              "read:self_info",
              "read:self_application",
              "update:self_info",
              "delete:self_auth",
              "send_email_to_verify:self_info",
              "logout:self",
              "verify_mobile_code:self_info",
              "send_verify_mobile_code:self_info",
              "update:policies_configs",
              "read:email_configs",
              "update:email_configs",
              "read:idp_pre_import_config",
              "read:idp_pre_import_config_tips",
              "update:idp_pre_import_config",
              "read:sms_configs",
              "update:sms_configs",
              "create:datasource_configs",
              "update:datasource_configs",
              "read:datasource_configs",
              "delete:datasource_configs",
              "sync:datasource",
              "test:datasource_configs",
              "read:csv_import_status",
              "send:email",
              "create:apps",
              "search:apps",
              "read:apps",
              "update:apps",
              "delete:apps",
              "update:user_apps",
              "update:org_apps",
              "list:user_apps",
              "list:org_apps",
              "update:tag_apps",
              "list:tag_apps",
              "update:apps_public_access",
              "create:tags",
              "search:tags",
              "read:tags",
              "update:tags",
              "delete:tags",
              "read:templates",
              "update:templates",
              "search:auditlog",
              "create:permissions",
              "search:permissions",
              "read:permissions",
              "update:permissions",
              "delete:permissions",
              "create:permission_sets",
              "search:permission_sets",
              "read:permission_sets",
              "update:permission_sets",
              "delete:permission_sets",
              "create:roles",
              "search:roles",
              "read:roles",
              "update:roles",
              "delete:roles",
              "update:user_roles",
              "update:org_roles",
              "list:org_roles",
              "list:user_roles",
              "update:tag_roles",
              "list:tag_roles",
              "create:profiles",
              "read:profiles",
              "search:profiles",
              "update:profiles",
              "delete:profiles"
            ]
          }
        ],
        "deprecated": false
      },
      "put": {
        "tags": ["Links"],
        "summary": "替换修改执行动作",
        "description": "替换修改执行动作",
        "operationId": "replaceActionUsingPUT",
        "consumes": ["application/json"],
        "produces": ["application/json;charset=UTF-8", "application/json"],
        "parameters": [
          {
            "in": "body",
            "name": "actionDto",
            "description": "actionDto",
            "required": true,
            "schema": {
              "originalRef": "ActionDto",
              "$ref": "#/definitions/ActionDto"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "originalRef": "base_error_response",
              "$ref": "#/definitions/base_error_response"
            }
          },
          "500": {
            "description": "错误码: 1010001, 错误消息: Internal server error",
            "schema": {
              "originalRef": "error_response",
              "$ref": "#/definitions/error_response"
            }
          }
        },
        "security": [
          {
            "uc_auth": [
              "create:organizations",
              "update:organizations",
              "read:organizations",
              "search:organizations",
              "no_scope_search:organizations",
              "delete:organizations",
              "create:users",
              "read:user_full_info",
              "search:users",
              "no_scope_search:users",
              "update:users",
              "delete:users",
              "move_org:users",
              "export:users",
              "import:users",
              "update:users_pwd_by_admin",
              "create:user_attrs",
              "read:user_attr_all",
              "read:user_attrs",
              "update:user_attrs",
              "read:tokens",
              "delete:tokens",
              "create:reset_pwd_tokens",
              "create:email_tokens",
              "read:self_info",
              "read:self_application",
              "update:self_info",
              "delete:self_auth",
              "send_email_to_verify:self_info",
              "logout:self",
              "verify_mobile_code:self_info",
              "send_verify_mobile_code:self_info",
              "update:policies_configs",
              "read:email_configs",
              "update:email_configs",
              "read:idp_pre_import_config",
              "read:idp_pre_import_config_tips",
              "update:idp_pre_import_config",
              "read:sms_configs",
              "update:sms_configs",
              "create:datasource_configs",
              "update:datasource_configs",
              "read:datasource_configs",
              "delete:datasource_configs",
              "sync:datasource",
              "test:datasource_configs",
              "read:csv_import_status",
              "send:email",
              "create:apps",
              "search:apps",
              "read:apps",
              "update:apps",
              "delete:apps",
              "update:user_apps",
              "update:org_apps",
              "list:user_apps",
              "list:org_apps",
              "update:tag_apps",
              "list:tag_apps",
              "update:apps_public_access",
              "create:tags",
              "search:tags",
              "read:tags",
              "update:tags",
              "delete:tags",
              "read:templates",
              "update:templates",
              "search:auditlog",
              "create:permissions",
              "search:permissions",
              "read:permissions",
              "update:permissions",
              "delete:permissions",
              "create:permission_sets",
              "search:permission_sets",
              "read:permission_sets",
              "update:permission_sets",
              "delete:permission_sets",
              "create:roles",
              "search:roles",
              "read:roles",
              "update:roles",
              "delete:roles",
              "update:user_roles",
              "update:org_roles",
              "list:org_roles",
              "list:user_roles",
              "update:tag_roles",
              "list:tag_roles",
              "create:profiles",
              "read:profiles",
              "search:profiles",
              "update:profiles",
              "delete:profiles"
            ]
          }
        ],
        "deprecated": false
      },
      "delete": {
        "tags": ["Links"],
        "summary": "删除执行动作",
        "description": "删除执行动作",
        "operationId": "deleteActionUsingDELETE",
        "produces": ["application/json;charset=UTF-8", "application/json"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "originalRef": "base_error_response",
              "$ref": "#/definitions/base_error_response"
            }
          },
          "500": {
            "description": "错误码: 1010001, 错误消息: Internal server error",
            "schema": {
              "originalRef": "error_response",
              "$ref": "#/definitions/error_response"
            }
          }
        },
        "security": [
          {
            "uc_auth": [
              "create:organizations",
              "update:organizations",
              "read:organizations",
              "search:organizations",
              "no_scope_search:organizations",
              "delete:organizations",
              "create:users",
              "read:user_full_info",
              "search:users",
              "no_scope_search:users",
              "update:users",
              "delete:users",
              "move_org:users",
              "export:users",
              "import:users",
              "update:users_pwd_by_admin",
              "create:user_attrs",
              "read:user_attr_all",
              "read:user_attrs",
              "update:user_attrs",
              "read:tokens",
              "delete:tokens",
              "create:reset_pwd_tokens",
              "create:email_tokens",
              "read:self_info",
              "read:self_application",
              "update:self_info",
              "delete:self_auth",
              "send_email_to_verify:self_info",
              "logout:self",
              "verify_mobile_code:self_info",
              "send_verify_mobile_code:self_info",
              "update:policies_configs",
              "read:email_configs",
              "update:email_configs",
              "read:idp_pre_import_config",
              "read:idp_pre_import_config_tips",
              "update:idp_pre_import_config",
              "read:sms_configs",
              "update:sms_configs",
              "create:datasource_configs",
              "update:datasource_configs",
              "read:datasource_configs",
              "delete:datasource_configs",
              "sync:datasource",
              "test:datasource_configs",
              "read:csv_import_status",
              "send:email",
              "create:apps",
              "search:apps",
              "read:apps",
              "update:apps",
              "delete:apps",
              "update:user_apps",
              "update:org_apps",
              "list:user_apps",
              "list:org_apps",
              "update:tag_apps",
              "list:tag_apps",
              "update:apps_public_access",
              "create:tags",
              "search:tags",
              "read:tags",
              "update:tags",
              "delete:tags",
              "read:templates",
              "update:templates",
              "search:auditlog",
              "create:permissions",
              "search:permissions",
              "read:permissions",
              "update:permissions",
              "delete:permissions",
              "create:permission_sets",
              "search:permission_sets",
              "read:permission_sets",
              "update:permission_sets",
              "delete:permission_sets",
              "create:roles",
              "search:roles",
              "read:roles",
              "update:roles",
              "delete:roles",
              "update:user_roles",
              "update:org_roles",
              "list:org_roles",
              "list:user_roles",
              "update:tag_roles",
              "list:tag_roles",
              "create:profiles",
              "read:profiles",
              "search:profiles",
              "update:profiles",
              "delete:profiles"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/iam/api/app/category": {
      "get": {
        "tags": ["AppCategory"],
        "summary": "获取应用分类列表",
        "description": "获取应用分类列表",
        "operationId": "getAppCategoryListUsingGET",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "用户中心的 access token",
            "required": true,
            "type": "string",
            "default": "Bearer XXX"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "HTTP请求的content-Type",
            "required": true,
            "type": "string",
            "default": "application/json;charset=UTF-8"
          },
          {
            "name": "client_id",
            "in": "query",
            "description": "应用client_id",
            "required": false,
            "type": "string",
            "allowEmptyValue": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "originalRef": "base_error_response",
              "$ref": "#/definitions/base_error_response"
            }
          },
          "500": {
            "description": "错误码: 1010001, 错误消息: Internal server error",
            "schema": {
              "originalRef": "error_response",
              "$ref": "#/definitions/error_response"
            }
          }
        },
        "security": [
          {
            "uc_auth": [
              "create:organizations",
              "update:organizations",
              "read:organizations",
              "search:organizations",
              "no_scope_search:organizations",
              "delete:organizations",
              "create:users",
              "read:user_full_info",
              "search:users",
              "no_scope_search:users",
              "update:users",
              "delete:users",
              "move_org:users",
              "export:users",
              "import:users",
              "update:users_pwd_by_admin",
              "create:user_attrs",
              "read:user_attr_all",
              "read:user_attrs",
              "update:user_attrs",
              "read:tokens",
              "delete:tokens",
              "create:reset_pwd_tokens",
              "create:email_tokens",
              "read:self_info",
              "read:self_application",
              "update:self_info",
              "delete:self_auth",
              "send_email_to_verify:self_info",
              "logout:self",
              "verify_mobile_code:self_info",
              "send_verify_mobile_code:self_info",
              "update:policies_configs",
              "read:email_configs",
              "update:email_configs",
              "read:idp_pre_import_config",
              "read:idp_pre_import_config_tips",
              "update:idp_pre_import_config",
              "read:sms_configs",
              "update:sms_configs",
              "create:datasource_configs",
              "update:datasource_configs",
              "read:datasource_configs",
              "delete:datasource_configs",
              "sync:datasource",
              "test:datasource_configs",
              "read:csv_import_status",
              "send:email",
              "create:apps",
              "search:apps",
              "read:apps",
              "update:apps",
              "delete:apps",
              "update:user_apps",
              "update:org_apps",
              "list:user_apps",
              "list:org_apps",
              "update:tag_apps",
              "list:tag_apps",
              "update:apps_public_access",
              "create:tags",
              "search:tags",
              "read:tags",
              "update:tags",
              "delete:tags",
              "read:templates",
              "update:templates",
              "search:auditlog",
              "create:permissions",
              "search:permissions",
              "read:permissions",
              "update:permissions",
              "delete:permissions",
              "create:permission_sets",
              "search:permission_sets",
              "read:permission_sets",
              "update:permission_sets",
              "delete:permission_sets",
              "create:roles",
              "search:roles",
              "read:roles",
              "update:roles",
              "delete:roles",
              "update:user_roles",
              "update:org_roles",
              "list:org_roles",
              "list:user_roles",
              "update:tag_roles",
              "list:tag_roles",
              "create:profiles",
              "read:profiles",
              "search:profiles",
              "update:profiles",
              "delete:profiles"
            ]
          }
        ],
        "deprecated": false
      },
      "post": {
        "tags": ["AppCategory"],
        "summary": "新增应用分类",
        "description": "新增应用分类",
        "operationId": "createAppCategoryUsingPOST",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "用户中心的 access token",
            "required": true,
            "type": "string",
            "default": "Bearer XXX"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "HTTP请求的content-Type",
            "required": true,
            "type": "string",
            "default": "application/json;charset=UTF-8"
          },
          {
            "in": "body",
            "name": "appCategoryVO",
            "description": "应用信息",
            "required": true,
            "schema": {
              "originalRef": "app category",
              "$ref": "#/definitions/app category"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "originalRef": "base_error_response",
              "$ref": "#/definitions/base_error_response"
            }
          },
          "500": {
            "description": "错误码: 1010001, 错误消息: Internal server error",
            "schema": {
              "originalRef": "error_response",
              "$ref": "#/definitions/error_response"
            }
          }
        },
        "security": [
          {
            "uc_auth": ["create:apps"]
          }
        ],
        "deprecated": false
      },
      "put": {
        "tags": ["AppCategory"],
        "summary": "批量修改应用分类",
        "description": "批量修改应用分类",
        "operationId": "batchReplaceAppCategoryUsingPUT",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "用户中心的 access token",
            "required": true,
            "type": "string",
            "default": "Bearer XXX"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "HTTP请求的content-Type",
            "required": true,
            "type": "string",
            "default": "application/json;charset=UTF-8"
          },
          {
            "in": "body",
            "name": "appCategoryVOS",
            "description": "多个应用信息",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "originalRef": "app category",
                "$ref": "#/definitions/app category"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "originalRef": "base_error_response",
              "$ref": "#/definitions/base_error_response"
            }
          },
          "500": {
            "description": "错误码: 1010001, 错误消息: Internal server error",
            "schema": {
              "originalRef": "error_response",
              "$ref": "#/definitions/error_response"
            }
          }
        },
        "security": [
          {
            "uc_auth": ["update:apps"]
          }
        ],
        "deprecated": false
      }
    },
    "/iam/api/app/category/apps": {
      "post": {
        "tags": ["AppCategory"],
        "summary": "批量将应用添加到分类中",
        "description": "批量将应用添加到分类中",
        "operationId": "addAppLinksUsingPOST",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "用户中心的 access token",
            "required": true,
            "type": "string",
            "default": "Bearer XXX"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "HTTP请求的content-Type",
            "required": true,
            "type": "string",
            "default": "application/json;charset=UTF-8"
          },
          {
            "in": "body",
            "name": "linkVO",
            "description": "应用分类关联信息",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "originalRef": "app category link",
                "$ref": "#/definitions/app category link"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "originalRef": "base_error_response",
              "$ref": "#/definitions/base_error_response"
            }
          },
          "500": {
            "description": "错误码: 1010001, 错误消息: Internal server error",
            "schema": {
              "originalRef": "error_response",
              "$ref": "#/definitions/error_response"
            }
          }
        },
        "security": [
          {
            "uc_auth": ["update:apps"]
          }
        ],
        "deprecated": false
      },
      "delete": {
        "tags": ["AppCategory"],
        "summary": "批量将应用从分类中删除",
        "description": "批量将应用从分类中删除",
        "operationId": "delAppLinksUsingDELETE",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "用户中心的 access token",
            "required": true,
            "type": "string",
            "default": "Bearer XXX"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "HTTP请求的content-Type",
            "required": true,
            "type": "string",
            "default": "application/json;charset=UTF-8"
          },
          {
            "in": "body",
            "name": "linkVO",
            "description": "应用分类关联信息",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "originalRef": "app category link",
                "$ref": "#/definitions/app category link"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "originalRef": "base_error_response",
              "$ref": "#/definitions/base_error_response"
            }
          },
          "500": {
            "description": "错误码: 1010001, 错误消息: Internal server error",
            "schema": {
              "originalRef": "error_response",
              "$ref": "#/definitions/error_response"
            }
          }
        },
        "security": [
          {
            "uc_auth": ["update:apps"]
          }
        ],
        "deprecated": false
      }
    },
    "/iam/api/app/category/apps/{client_id}": {
      "put": {
        "tags": ["AppCategory"],
        "summary": "修改应用全部分类",
        "description": "修改应用全部分类",
        "operationId": "updateAppLinksUsingPUT",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "用户中心的 access token",
            "required": true,
            "type": "string",
            "default": "Bearer XXX"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "HTTP请求的content-Type",
            "required": true,
            "type": "string",
            "default": "application/json;charset=UTF-8"
          },
          {
            "in": "body",
            "name": "categoryIds",
            "description": "应用分类id",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "client_id",
            "in": "path",
            "description": "client_id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "originalRef": "base_error_response",
              "$ref": "#/definitions/base_error_response"
            }
          },
          "500": {
            "description": "错误码: 1010001, 错误消息: Internal server error",
            "schema": {
              "originalRef": "error_response",
              "$ref": "#/definitions/error_response"
            }
          }
        },
        "security": [
          {
            "uc_auth": ["update:apps"]
          }
        ],
        "deprecated": false
      }
    },
    "/iam/api/app/category/{id}": {
      "delete": {
        "tags": ["AppCategory"],
        "summary": "删除应用分类",
        "description": "删除应用分类信息",
        "operationId": "deleteAppCategoryUsingDELETE",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "用户中心的 access token",
            "required": true,
            "type": "string",
            "default": "Bearer XXX"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "HTTP请求的content-Type",
            "required": true,
            "type": "string",
            "default": "application/json;charset=UTF-8"
          },
          {
            "name": "id",
            "in": "path",
            "description": "应用分类ID",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "originalRef": "base_error_response",
              "$ref": "#/definitions/base_error_response"
            }
          },
          "500": {
            "description": "错误码: 1010001, 错误消息: Internal server error",
            "schema": {
              "originalRef": "error_response",
              "$ref": "#/definitions/error_response"
            }
          }
        },
        "security": [
          {
            "uc_auth": ["delete:apps"]
          }
        ],
        "deprecated": false
      },
      "patch": {
        "tags": ["AppCategory"],
        "summary": "修改应用分类信息",
        "description": "修改应用分类信息",
        "operationId": "updateAppCategoryUsingPATCH",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "用户中心的 access token",
            "required": true,
            "type": "string",
            "default": "Bearer XXX"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "HTTP请求的content-Type",
            "required": true,
            "type": "string",
            "default": "application/json;charset=UTF-8"
          },
          {
            "in": "body",
            "name": "appCategoryVO",
            "description": "应用信息",
            "required": true,
            "schema": {
              "originalRef": "app category",
              "$ref": "#/definitions/app category"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "应用分类ID",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "originalRef": "base_error_response",
              "$ref": "#/definitions/base_error_response"
            }
          },
          "500": {
            "description": "错误码: 1010001, 错误消息: Internal server error",
            "schema": {
              "originalRef": "error_response",
              "$ref": "#/definitions/error_response"
            }
          }
        },
        "security": [
          {
            "uc_auth": ["update:apps"]
          }
        ],
        "deprecated": false
      }
    },
    "/iam/api/apps": {
      "get": {
        "tags": ["Application"],
        "summary": "获取应用的列表",
        "description": "获取应用的列表，可以通过应用状态和应用类型做过滤。",
        "operationId": "searchApp",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "用户中心的 access token",
            "required": true,
            "type": "string",
            "default": "Bearer XXX"
          },
          {
            "name": "application_type",
            "in": "query",
            "description": "应用类型作为查询应用的过滤条件（可选的）",
            "required": true,
            "type": "string",
            "enum": ["NATIVE", "SPA", "WEB", "CLI", "TRUSTED"]
          },
          {
            "name": "clientId",
            "in": "query",
            "description": "clientId",
            "required": false,
            "type": "string"
          },
          {
            "name": "status",
            "in": "query",
            "description": "状态",
            "required": true,
            "type": "string",
            "enum": ["INACTIVE", "ACTIVE"]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "originalRef": "search_application_list_response",
              "$ref": "#/definitions/search_application_list_response"
            }
          },
          "400": {
            "description": "* 错误码：1011109, 错误消息: Application type unknown",
            "schema": {
              "originalRef": "base_error_response",
              "$ref": "#/definitions/base_error_response"
            }
          },
          "500": {
            "description": "* 错误码：1010001, 错误消息: Internal server error",
            "schema": {
              "originalRef": "base_error_response",
              "$ref": "#/definitions/base_error_response"
            }
          }
        },
        "security": [
          {
            "uc_auth": ["search:apps"]
          }
        ],
        "deprecated": false
      }
    },
    "/iam/api/apps/appstore": {
      "get": {
        "tags": ["Application"],
        "summary": "获取应用市场的列表",
        "description": "获取应用市场的列表，可以通过应用名称和应用类型做过滤。",
        "operationId": "searchAppStore",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "用户中心的 access token",
            "required": true,
            "type": "string",
            "default": "Bearer XXX"
          },
          {
            "name": "category",
            "in": "query",
            "description": "应用分类",
            "required": false,
            "type": "string"
          },
          {
            "name": "client_name",
            "in": "query",
            "description": "应用名称",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "page",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "size",
            "in": "query",
            "description": "size",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "originalRef": "search_application_list_response",
              "$ref": "#/definitions/search_application_list_response"
            }
          },
          "400": {
            "description": "* 错误码：1011109, 错误消息: Application type unknown",
            "schema": {
              "originalRef": "base_error_response",
              "$ref": "#/definitions/base_error_response"
            }
          },
          "500": {
            "description": "* 错误码：1010001, 错误消息: Internal server error",
            "schema": {
              "originalRef": "base_error_response",
              "$ref": "#/definitions/base_error_response"
            }
          }
        },
        "security": [
          {
            "uc_auth": ["search:apps"]
          }
        ],
        "deprecated": false
      }
    },
    "/iam/api/apps/createOrUpdateAppBaseInfo": {
      "post": {
        "tags": ["Application"],
        "summary": "管理员创建或修改应用(基础信息)",
        "description": "管理员创建或修改应用(基础信息)",
        "operationId": "createOrUpdateAppBaseInfoUsingPOST",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "in": "body",
            "name": "AppBaseInfoVO",
            "description": "管理员创建或修改应用(基础信息)",
            "required": false,
            "schema": {
              "originalRef": "AppBaseInfoVO",
              "$ref": "#/definitions/AppBaseInfoVO"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "用户中心的 access token",
            "required": true,
            "type": "string",
            "default": "Bearer XXX"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "HTTP请求的content-Type",
            "required": true,
            "type": "string",
            "default": "application/json;charset=UTF-8"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "originalRef": "app_detail_info_response",
              "$ref": "#/definitions/app_detail_info_response"
            }
          },
          "400": {
            "description": "* 错误码：invalid_client_profile, 错误消息: Application type invalid\r\n* 错误码：invalid_client_profile, 错误消息: Specified validation factor error\r\n* 错误码：invalid_redirect_uri, 错误消息: One or more redirect_uri values are invalid\r\n* 错误码：invalid_client, 错误消息: Application not found",
            "schema": {
              "originalRef": "base_error_response",
              "$ref": "#/definitions/base_error_response"
            }
          },
          "409": {
            "description": "* 错误码：client_already_exists, 错误消息: Application already exists",
            "schema": {
              "originalRef": "base_error_response",
              "$ref": "#/definitions/base_error_response"
            }
          },
          "500": {
            "description": "* 错误码：server_error, 错误消息: Fail to generate key pair\r\n* 错误码：server_error, 错误消息: Internal server error",
            "schema": {
              "originalRef": "base_error_response",
              "$ref": "#/definitions/base_error_response"
            }
          }
        },
        "security": [
          {
            "uc_auth": ["create:apps"]
          }
        ],
        "deprecated": false
      }
    },
    "/iam/api/apps/loginPolicy/{client_id}": {
      "put": {
        "tags": ["Application"],
        "summary": "设置应用认证策略",
        "description": "设置应用认证策略",
        "operationId": "setLoginPolicyUsingPUT",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "用户中心的 access token",
            "required": true,
            "type": "string",
            "default": "Bearer XXX"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "HTTP请求的content-Type",
            "required": true,
            "type": "string",
            "default": "application/json;charset=UTF-8"
          },
          {
            "in": "body",
            "name": "LoginPolicyDTO",
            "description": "认证策略配置信息",
            "required": false,
            "schema": {
              "originalRef": "LoginPolicyDTO",
              "$ref": "#/definitions/LoginPolicyDTO"
            }
          },
          {
            "name": "client_id",
            "in": "path",
            "description": "应用Id",
            "required": true,
            "type": "string",
            "x-example": "usercenter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "originalRef": "base_error_response«Void»",
              "$ref": "#/definitions/base_error_response«Void»"
            }
          },
          "400": {
            "description": "* 错误码：invalid_client, 错误消息: Application not found",
            "schema": {
              "originalRef": "base_error_response",
              "$ref": "#/definitions/base_error_response"
            }
          },
          "409": {
            "description": "* 错误码：client_already_exists, 错误消息: Application already exists",
            "schema": {
              "originalRef": "base_error_response",
              "$ref": "#/definitions/base_error_response"
            }
          },
          "500": {
            "description": "* 错误码：server_error, 错误消息: Internal server error",
            "schema": {
              "originalRef": "base_error_response",
              "$ref": "#/definitions/base_error_response"
            }
          }
        },
        "security": [
          {
            "uc_auth": ["update:apps"]
          }
        ],
        "deprecated": false
      }
    },
    "/iam/api/apps/preview/assertion": {
      "post": {
        "tags": ["Application"],
        "summary": "预览SAML断言",
        "description": "预览SAML断言",
        "operationId": "previewAssertionUsingPOST",
        "consumes": ["application/json"],
        "produces": ["text/xml"],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "用户中心的 access token",
            "required": true,
            "type": "string",
            "default": "Bearer XXX"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "HTTP请求的content-Type",
            "required": true,
            "type": "string",
            "default": "application/json;charset=UTF-8"
          },
          {
            "in": "body",
            "name": "SamlConfig",
            "description": "SAML配置信息",
            "required": false,
            "schema": {
              "originalRef": "SamlConfig",
              "$ref": "#/definitions/SamlConfig"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          },
          "500": {
            "description": "错误码: 1010001, 错误消息: Internal server error",
            "schema": {
              "originalRef": "error_response",
              "$ref": "#/definitions/error_response"
            }
          }
        },
        "security": [
          {
            "uc_auth": [
              "create:organizations",
              "update:organizations",
              "read:organizations",
              "search:organizations",
              "no_scope_search:organizations",
              "delete:organizations",
              "create:users",
              "read:user_full_info",
              "search:users",
              "no_scope_search:users",
              "update:users",
              "delete:users",
              "move_org:users",
              "export:users",
              "import:users",
              "update:users_pwd_by_admin",
              "create:user_attrs",
              "read:user_attr_all",
              "read:user_attrs",
              "update:user_attrs",
              "read:tokens",
              "delete:tokens",
              "create:reset_pwd_tokens",
              "create:email_tokens",
              "read:self_info",
              "read:self_application",
              "update:self_info",
              "delete:self_auth",
              "send_email_to_verify:self_info",
              "logout:self",
              "verify_mobile_code:self_info",
              "send_verify_mobile_code:self_info",
              "update:policies_configs",
              "read:email_configs",
              "update:email_configs",
              "read:idp_pre_import_config",
              "read:idp_pre_import_config_tips",
              "update:idp_pre_import_config",
              "read:sms_configs",
              "update:sms_configs",
              "create:datasource_configs",
              "update:datasource_configs",
              "read:datasource_configs",
              "delete:datasource_configs",
              "sync:datasource",
              "test:datasource_configs",
              "read:csv_import_status",
              "send:email",
              "create:apps",
              "search:apps",
              "read:apps",
              "update:apps",
              "delete:apps",
              "update:user_apps",
              "update:org_apps",
              "list:user_apps",
              "list:org_apps",
              "update:tag_apps",
              "list:tag_apps",
              "update:apps_public_access",
              "create:tags",
              "search:tags",
              "read:tags",
              "update:tags",
              "delete:tags",
              "read:templates",
              "update:templates",
              "search:auditlog",
              "create:permissions",
              "search:permissions",
              "read:permissions",
              "update:permissions",
              "delete:permissions",
              "create:permission_sets",
              "search:permission_sets",
              "read:permission_sets",
              "update:permission_sets",
              "delete:permission_sets",
              "create:roles",
              "search:roles",
              "read:roles",
              "update:roles",
              "delete:roles",
              "update:user_roles",
              "update:org_roles",
              "list:org_roles",
              "list:user_roles",
              "update:tag_roles",
              "list:tag_roles",
              "create:profiles",
              "read:profiles",
              "search:profiles",
              "update:profiles",
              "delete:profiles"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/iam/api/apps/updateSSOInfo/{client_id}": {
      "patch": {
        "tags": ["Application"],
        "summary": "修改单点配置信息",
        "description": "修改单点配置信息",
        "operationId": "updateAppSSOInfoUsingPATCH",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "in": "body",
            "name": "AppSSOInfoVO",
            "description": "修改单点配置信息",
            "required": false,
            "schema": {
              "originalRef": "AppSSOInfoVO",
              "$ref": "#/definitions/AppSSOInfoVO"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "用户中心的 access token",
            "required": true,
            "type": "string",
            "default": "Bearer XXX"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "HTTP请求的content-Type",
            "required": true,
            "type": "string",
            "default": "application/json;charset=UTF-8"
          },
          {
            "name": "client_id",
            "in": "path",
            "description": "应用Id",
            "required": true,
            "type": "string",
            "x-example": "digitalsee_sag"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "originalRef": "app_detail_info_response",
              "$ref": "#/definitions/app_detail_info_response"
            }
          },
          "400": {
            "description": "* 错误码：invalid_client_profile, 错误消息: Application type invalid\r\n* 错误码：invalid_redirect_uri, 错误消息: One or more redirect_uri values are invalid\r\n* 错误码：invalid_client, 错误消息: Application not found",
            "schema": {
              "originalRef": "base_error_response",
              "$ref": "#/definitions/base_error_response"
            }
          },
          "409": {
            "description": "* 错误码：client_already_exists, 错误消息: Application already exists",
            "schema": {
              "originalRef": "base_error_response",
              "$ref": "#/definitions/base_error_response"
            }
          },
          "500": {
            "description": "* 错误码：server_error, 错误消息: Fail to generate key pair\r\n* 错误码：server_error, 错误消息: Internal server error",
            "schema": {
              "originalRef": "base_error_response",
              "$ref": "#/definitions/base_error_response"
            }
          }
        },
        "security": [
          {
            "uc_auth": ["update:apps"]
          }
        ],
        "deprecated": false
      }
    },
    "/iam/api/apps/v2": {
      "get": {
        "tags": ["Application"],
        "summary": "获取应用的列表",
        "description": "获取应用的列表，可以通过应用状态和应用类型做过滤。",
        "operationId": "searchApp_1",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "用户中心的 access token",
            "required": true,
            "type": "string",
            "default": "Bearer XXX"
          },
          {
            "name": "category_id",
            "in": "query",
            "description": "category_id",
            "required": false,
            "type": "string"
          },
          {
            "name": "client_id",
            "in": "query",
            "description": "client_id",
            "required": false,
            "type": "string"
          },
          {
            "name": "client_name",
            "in": "query",
            "description": "client_name",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "page",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "size",
            "in": "query",
            "description": "size",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "status",
            "in": "query",
            "description": "状态",
            "required": true,
            "type": "string",
            "enum": ["INACTIVE", "ACTIVE"]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "originalRef": "search_application_list_response",
              "$ref": "#/definitions/search_application_list_response"
            }
          },
          "400": {
            "description": "* 错误码：1011109, 错误消息: Application type unknown",
            "schema": {
              "originalRef": "base_error_response",
              "$ref": "#/definitions/base_error_response"
            }
          },
          "500": {
            "description": "* 错误码：1010001, 错误消息: Internal server error",
            "schema": {
              "originalRef": "base_error_response",
              "$ref": "#/definitions/base_error_response"
            }
          }
        },
        "security": [
          {
            "uc_auth": ["search:apps"]
          }
        ],
        "deprecated": false
      }
    },
    "/iam/api/apps/v2/{client_id}": {
      "get": {
        "tags": ["Application"],
        "summary": "获取应用详细信息",
        "description": "获取应用详细信息",
        "operationId": "getAppDetails_1",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "用户中心的 access token",
            "required": true,
            "type": "string",
            "default": "Bearer XXX"
          },
          {
            "name": "client_id",
            "in": "path",
            "description": "应用Id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "originalRef": "app_detail_info_response",
              "$ref": "#/definitions/app_detail_info_response"
            }
          },
          "404": {
            "description": "* 错误码：invalid_client, 错误消息: Application not found",
            "schema": {
              "originalRef": "base_error_response",
              "$ref": "#/definitions/base_error_response"
            }
          },
          "500": {
            "description": "* 错误码：server_error, 错误消息: Internal server error",
            "schema": {
              "originalRef": "base_error_response",
              "$ref": "#/definitions/base_error_response"
            }
          }
        },
        "security": [
          {
            "uc_auth": ["read:apps"]
          }
        ],
        "deprecated": false
      }
    },
    "/iam/api/apps/{client_id}": {
      "get": {
        "tags": ["Application"],
        "summary": "获取应用详细信息",
        "description": "获取应用详细信息",
        "operationId": "getAppDetails",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "用户中心的 access token",
            "required": true,
            "type": "string",
            "default": "Bearer XXX"
          },
          {
            "name": "client_id",
            "in": "path",
            "description": "应用Id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "originalRef": "app_detail_info_response",
              "$ref": "#/definitions/app_detail_info_response"
            }
          },
          "404": {
            "description": "* 错误码：invalid_client, 错误消息: Application not found",
            "schema": {
              "originalRef": "base_error_response",
              "$ref": "#/definitions/base_error_response"
            }
          },
          "500": {
            "description": "* 错误码：server_error, 错误消息: Internal server error",
            "schema": {
              "originalRef": "base_error_response",
              "$ref": "#/definitions/base_error_response"
            }
          }
        },
        "security": [
          {
            "uc_auth": ["read:apps"]
          }
        ],
        "deprecated": false
      },
      "post": {
        "tags": ["Application"],
        "summary": "更新应用的详细信息",
        "description": "更新应用的详细信息",
        "operationId": "updateAppV2UsingPOST",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "in": "body",
            "name": "AppUpdateInVo",
            "description": "更新应用的请求",
            "required": false,
            "schema": {
              "originalRef": "AppUpdateInVO",
              "$ref": "#/definitions/AppUpdateInVO"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "用户中心的 access token",
            "required": true,
            "type": "string",
            "default": "Bearer XXX"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "HTTP请求的content-Type",
            "required": true,
            "type": "string",
            "default": "application/json;charset=UTF-8"
          },
          {
            "name": "client_id",
            "in": "path",
            "description": "应用Id",
            "required": true,
            "type": "string",
            "x-example": "digitalsee_sag"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "originalRef": "app_detail_info_response",
              "$ref": "#/definitions/app_detail_info_response"
            }
          },
          "400": {
            "description": "* 错误消息: 1011104, 错误消息: One or more redirect_uri values are invalid\r\n* 错误码：1011114, 错误消息: Specified validation factor error\r\n* 错误码：1011123, 错误消息: Profile reference unknown",
            "schema": {
              "originalRef": "base_error_response",
              "$ref": "#/definitions/base_error_response"
            }
          },
          "404": {
            "description": "* 错误码：1011105错误消息: Application not found",
            "schema": {
              "originalRef": "base_error_response",
              "$ref": "#/definitions/base_error_response"
            }
          },
          "500": {
            "description": "* 错误码：1010001, 错误消息: Internal server error",
            "schema": {
              "originalRef": "base_error_response",
              "$ref": "#/definitions/base_error_response"
            }
          }
        },
        "security": [
          {
            "uc_auth": ["update:apps"]
          }
        ],
        "deprecated": false
      },
      "delete": {
        "tags": ["Application"],
        "summary": "删除应用",
        "description": "删除应用",
        "operationId": "deleteApp",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "用户中心的 access token",
            "required": true,
            "type": "string",
            "default": "Bearer XXX"
          },
          {
            "name": "client_id",
            "in": "path",
            "description": "应用Id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "originalRef": "base_error_response«app_detail_info_response»",
              "$ref": "#/definitions/base_error_response«app_detail_info_response»"
            }
          },
          "404": {
            "description": "* 错误码: 1011105, 错误消息: Application not found",
            "schema": {
              "originalRef": "base_error_response",
              "$ref": "#/definitions/base_error_response"
            }
          },
          "500": {
            "description": "* 错误码：1010001, 错误消息: Internal server error",
            "schema": {
              "originalRef": "base_error_response",
              "$ref": "#/definitions/base_error_response"
            }
          }
        },
        "security": [
          {
            "uc_auth": ["delete:apps"]
          }
        ],
        "deprecated": false
      }
    },
    "/iam/api/apps/{client_id}/download_cert": {
      "get": {
        "tags": ["Application"],
        "summary": "下载应用的签名证书",
        "description": "下载应用的签名证书",
        "operationId": "downloadAppPublicKey",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "client_id",
            "in": "path",
            "description": "应用Id",
[...]
